gpkg_data/
outputs/
data/
test_output/
checkpoints/
logs/
db_data/

# Python artifacts
__pycache__/
pytest.cache/
db_data
data
*.pyc
*.pyo
*.pyd
*.npy
*.log
*.gz

# VS Code
.vscode/

# Backup files
*.backup
*.bak
*~

#data
metadata.json